body{
    color: whitesmoke;
    text-decoration: dotted black;
    background:url("Backdrop.png")
    no-repeat
;
background-position: center c;
background-size: cover;

}

#rules{
    
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
ul{
    list-style-type: none;
}
li{
    line-height: 50px;
}
#slots{
    margin-top: 5px;
    margin-left: 28%;
    line-height: 120px;
    margin-right: 20%;
    background-color: rgba(56, 55, 55, 0.633);
    text-align: center;
    border-radius: 50px;
    overflow: hidden;

}
.slot{
    float: left;
    line-height: -30%;
    display: block;
    font-size: 500%;
    border: 5px solid black;
    padding: 10px;
    margin-left: 5%;
    background-color: rgba(101, 143, 132, 0.755);
    border-radius: 20%;
    height: 50%;
    width: 10%;    
}
.win{
    background-color: goldenrod;
}
#slot1{
    
    margin-left: 23%;
}
.anim1{
    animation-name: rolling1;
    animation-duration:0.5s ;
}
.anim2{
    animation-name: rolling2;
    animation-duration:0.7s ;
}

.anim3{

    animation-name: rolling3;
    animation-duration:0.9s ;

}
#roll{
    font-size: 350%;
    cursor: pointer;
    margin-left: 48%;

}
#roll:hover{
    background-color: rgb(174, 174, 174);

   
}
#result{
    background-color: black;
    margin-left: 45%;
    font-size: 200%;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    display: inline;
}
#headingg{
 
    
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 200%;
    border-radius: 5px;
    text-align: center;
    
}
#try{
    background-color: black;
    margin-left: 30%;
    font-size: 200%;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    display: inline;
}

@keyframes rolling1{
    from{transform: translateY(-500%);}
}
@keyframes rolling2{
    from{transform: translateY(-300%);}
}
@keyframes rolling3{
    from{transform: translateY(-300%);}
}